{% block content %} {% extends 'bootstrap/base.html'%}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/index.css"></link>
</head>

<body style="background-color:#D2B4DE">
  <div class="container" style="background-color: #5DADE2;">
    <h1 style="color:white;font-size:100px; ">Here comes the beast </h1>
  </div>

</body>
<style>
</style>
{% endblock %}